<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Dashboard</title>
    <!-- Thêm Bootstrap CSS từ CDN , this is a css and js for layout include header and footer -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Thêm JS của Bootstrap từ CDN (Bootstrap yêu cầu jQuery và Popper.js cho một số tính năng như dropdown, modal) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--  -------------  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa1z8CwE5+rQ4a5XZPRfqCJL3mz5js7Z7pMlH6f10Rhr+8AB43WI5y+e2Df" crossorigin="anonymous">

</head>

<body>

<div th:insert="fragments/header :: header"> </div>
<div class="container my-1">
    <!--     image thumb about image choose       -->
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://placehold.co/300x200" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://placehold.co/300x200" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://placehold.co/300x200" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    <!--     /image thumb about image choose/       -->

    <div class="row">
        <div class="col-md-12">

                <!-- Your music dashboard content goes here -->
                <div class="row">
                    <div class="row w-100 mt-3 d-flex justify-content-between align-items-center bg-info">
                    <div class="cd-thumb">
                        <img src="https://placehold.co/10x10" alt="Now Playing" class="img-fluid" style=" width: 75px; height:75px; ">
                    </div>
                    <div class="text-center">
                        <h4>String 57th & 9th</h4>
                        <p>Now playing</p>
                    </div>

                </div>
                </div>


                <!-- Progress Bar Section -->
                <div class="row">
                    <div class="row w-100 mt-3 d-flex justify-content-between align-items-center bg-dark ">
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <span id="currentTime">0:00</span>
                                <input type="range" class="form-range mx-3" id="progressBar" min="0" max="100" value="0" step="0.1" style="flex: 1;">
                                <span id="duration">3:45</span>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- icon navigation -->
                <div class="row">
                    <div class="row w-100 mt-3 d-flex justify-content-between align-items-center bg-success">
                        <div class="control-buttons">
                            <button class="btn btn-primary">
                                <i class="fas fa-play"></i>
                            </button>
                            <button class="btn btn-secondary">
                                <i class="fas fa-step-backward"></i>
                            </button>
                            <button class="btn btn-secondary">
                                <i class="fas fa-step-forward"></i>
                            </button>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                            <button class="btn btn-secondary">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                    </div>
                </div>





        </div>
    </div>

    <!-- Playlist -->
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <h3>Playlist</h3>
                <div class="list-group">

                    <!-- Song 1 -->
                    <div class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#collapseSong1">
                        Song 1
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                    <!-- Collapse for Song 1 -->
                    <div class="collapse mt-3" id="collapseSong1">
                        <div class="row">
                            <div class="col-md-4">
                                <nav id="list-example1" class="list-group">
                                    <a class="list-group-item list-group-item-action" href="#item1-1">Verse 1</a>
                                    <a class="list-group-item list-group-item-action" href="#item1-2">Chorus</a>
                                    <a class="list-group-item list-group-item-action" href="#item1-3">Verse 2</a>
                                    <a class="list-group-item list-group-item-action" href="#item1-4">Bridge</a>
                                </nav>
                            </div>
                            <div class="col-md-8">
                                <div data-bs-spy="scroll" data-bs-target="#list-example1" data-bs-offset="0" class="scrollspy-example p-3 border rounded" tabindex="0" style="height: 200px; overflow-y: scroll;">
                                    <h4 id="item1-1">Verse 1</h4>
                                    <p>Lyrics for Verse 1...</p>
                                    <h4 id="item1-2">Chorus</h4>
                                    <p>Lyrics for Chorus...</p>
                                    <h4 id="item1-3">Verse 2</h4>
                                    <p>Lyrics for Verse 2...</p>
                                    <h4 id="item1-4">Bridge</h4>
                                    <p>Lyrics for Bridge...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Song 2 -->
                    <div class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#collapseSong2">
                        Song 2
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                    <!-- Collapse for Song 2 -->
                    <div class="collapse mt-3" id="collapseSong2">
                        <div class="row">
                            <div class="col-md-4">
                                <nav id="list-example2" class="list-group">
                                    <a class="list-group-item list-group-item-action" href="#item2-1">Intro</a>
                                    <a class="list-group-item list-group-item-action" href="#item2-2">Verse</a>
                                    <a class="list-group-item list-group-item-action" href="#item2-3">Outro</a>
                                </nav>
                            </div>
                            <div class="col-md-8">
                                <div data-bs-spy="scroll" data-bs-target="#list-example2" data-bs-offset="0" class="scrollspy-example p-3 border rounded" tabindex="0" style="height: 200px; overflow-y: scroll;">
                                    <h4 id="item2-1">Intro</h4>
                                    <p>Lyrics for Intro...</p>
                                    <h4 id="item2-2">Verse</h4>
                                    <p>Lyrics for Verse...</p>
                                    <h4 id="item2-3">Outro</h4>
                                    <p>Lyrics for Outro...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add more songs dynamically here -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Playlist/ -->
</div>
<div th:insert="fragments/footer :: footer"> </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-qk00oJntDa1I1aqGfckCkueXxOp6OVPoYEdqqpyVVjoWt2lEuWpbFPWZzFZd7b3E" crossorigin="anonymous"></script>

</body>

</html>
