<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Website</title>
</head>
<body>
<!--content-->
<main>
    <div class="container">
        <div class="row">



            <div class="col-4">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">có 2 cách load file .env trong spring boot</h5>
                        <p class="card-text">1 Tự đọc .env trong Spring Boot</p>
                        <p class="card-text"><dependency>
                            <groupId>io.github.cdimascio</groupId>
                            <artifactId>dotenv-spring-boot</artifactId>
                            <version>3.1.0</version>
                        </dependency>
                        </p>
                        <p class="card-text">2 Sử dụng thư viện dotenv-spring</p>
                        <p class="card-text"><dependency>
                            <groupId>io.github.cdimascio</groupId>
                            <artifactId>java-dotenv</artifactId>
                            <version>5.2.2</version>
                        </dependency>
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>



            <div class="col-4">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" style="max-height: 580px; width: 100%; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>