<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/ui/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <!-- dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" onclick="window.location.href='/ui/music';">Music</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Add</a></li>
                            <li><a class="dropdown-item" href="#">Update</a></li>
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/ui/english">English</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/ui/markdown_preview">markdown</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/ui/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/ui/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/ui/sql">SQL</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data Structure and Algorithm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">SortingService</a>
                        <a class="dropdown-item" href="/ui/array">Array</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Linked List</a>
                        <a class="dropdown-item" href="#">Stack</a>
                        <a class="dropdown-item" href="#">Queue</a>
                        <a class="dropdown-item" href="#">Hash Table</a>
                        <a class="dropdown-item" href="#">HashMap</a>
                        <a class="dropdown-item" href="#">Tree</a>
                        <a class="dropdown-item" href="#">Graph</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/ui/admin/v1/dashboard/index3">Dashboard Admin</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>
</th:block>
