



/* controlCDHeader */
.controlCDHeader{
    background-color: aqua;
    display:flex;
    width: 25%;
}

/* cd */
.cd-thumb{
    width: 110px;
    height: 110px;
    position: relative;
}
.cd-thumb img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top:5%;
    left:5%;
}


/* header */
header h4{
    color: rgb(98, 46, 46);
}
header h2{
    color: rgb(99, 30, 30);
}


/* controlTotal */
.controlTotal{
    width: 50%;
    background-color: antiquewhite;
    position: relative;
}
.progress {
    height: 10px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform:translate(-50%);

}
.control {
    display:flex;
    justify-content: space-evenly;
    margin-top: 26px;
}
.control i {
    font-size: 30px;
}
.controlTotal .progress {
    width: 60%;
   
}
.controltime .durationTime{
        position: absolute;
        bottom: 12px;
        left: 9.5%;
}
.controltime .currentTime{
    position: absolute;
    bottom: 12px;
    right: 9.5%;
}

 /* control volume */
 .controlVolume{
    position: relative;
    width: 25%;
    background-color: blue;
 }
 .iconVolume{
    position: absolute;
    left: 4%;
    top:7%;
 }
 .controlVolume input {
    position: absolute;
    left: 12%;
    top:7%;
 }
.addsong{
    position: absolute;
    left:10px;
    top:30px;
}
.model{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    position:fixed;
    opacity:0.95;
    z-index:2;
    display:flex;
    justify-content: center;
    align-items: center;

}
.contentModel{
    width: 308px;
    height: 500px;
    background-color: blue;
}

 /* thanh điều hướng và tìm kiếm */
 .navigation{
    width: 350px;
    height: 100vh;
    overflow: scroll;
    background-color:rgb(186, 167, 167) ;

 }
.song {
    width:100%;
    background-color: aqua;
    position: relative;
    margin-top: 10px;
    box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.song .thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(/images/24h.jpg);
    display:inline-block;
    margin-left: 10px ;
    margin-top: 4px ;
}

.song .body {
    position: absolute;
    left:90px;
    top:0;
} 
.song .option{
    position: absolute;
    right:10px;
    top:40%;
}
.navigation .btnsearch{
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    font-size: 25px;
    color: rgb(54, 106, 151);
    background-color: palegreen;
}
 /* container */
 .container{
    width: 85vw;
    height: 85vh;
    background-image: url(/images/24h.jpg);
 

    background-size: cover;
 }
/* open model */
.contentModel{
    overflow: scroll;
}
.taglabel{
    display: inline-block;
    width: 100%;
    height: 184px;
    background-color: rgb(205, 89, 156);
    position: relative;
}
.contentModel img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    
}
.songinmodel .body input{
    border: none;
    outline: none;
}
.taglabel h4 {
  text-align: center;
  line-height: 155px;
  
}
.songinmodel{
    margin-top: 30px;
 
}
.icondemode{
    display: flex;
    justify-content: center;
    position: relative;
    left:-50px;
}
 /* content */
 .content{
    display: flex;

 }
 .hide{
    display:none;
 }
 .active{
    background-color: red;
    color: black;
 }
 .iconactive{
    color: rgb(237, 64, 20);
 }
 