<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Management</title>
    <script>
        let BASE_URL = "/api/genres";
    </script>
</head>
<body>
<div class="container">

    <h1>Base URL: <span th:text="${BASE_URL}"></span></h1> <!-- This will print the BASE_URL -->


    <h2 class="text-center mb-4">Genre Management vps demo lan 2 </h2>
    <h2 class="text-center mb-4">Genre Management vps demo lan 3 </h2>
    <h2 class="text-center mb-4">Genre Management vps demo lan 4 </h2>

    <form id="genreForm">
        <div class="row">
            <div class="col-md-8">
                <input type="text" id="genreName" class="form-control" placeholder="Enter Genre Name" required>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Add Genre</button>
            </div>
        </div>
        <input type="hidden" id="editGenreId">
    </form>

    <table class="table table-striped" id="genreTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="genreTableBody"></tbody>
    </table>
</div>

<script src="/js/genreAdmin.js"></script>
</body>
</html>